<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> Login Page </title>

</head>
<body>
    <center> <h1> Student Login Form </h1> </center>
    <form method="post" action="">
        <div class="container">

            <label>UserEmail : </label>
            <input type="text" placeholder="Enter email" name="email" required>
            <label>Password : </label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <button type="submit">Login</button>

            Forgot <a href="#"> password? </a>
        </div>
    </form>
</body>
</html>